#ifndef ELIOT_CALENDAR_H
#define ELIOT_CALENDAR_H

#include <queue>
#include <vector>
#include <chrono>
#include <optional>
#include "../Packet.hpp"

namespace eliot_generated {
    struct Calendar {
        using Delay = std::chrono::milliseconds;
        using Clock = std::chrono::steady_clock;

        void schedule(Packet* packet, Delay delay) noexcept;

        Packet* get_ready() noexcept;

        inline bool empty() const noexcept { return _queue.empty(); }

        ~Calendar();

        private:
            struct CalendarItem {
                Clock::time_point time;
                Packet* packet;
                size_t order;
                uint64_t t = 0;

                explicit CalendarItem(Clock::time_point time, Packet* packet, size_t order) 
                    : time(time), packet(packet), order(order) 
                {
                    t = std::chrono::duration_cast<std::chrono::milliseconds>(time.time_since_epoch()).count();
                }

                bool operator>(const CalendarItem& other) const noexcept { 
                    return (t > other.t) || (t == other.t && order > other.order);
                }
            };

            size_t _counter = 0;

            std::priority_queue<CalendarItem, std::vector<CalendarItem>, std::greater<CalendarItem>> _queue;
    };
}

#endif
