#ifndef NETLOITER_CALENDAR_H
#define NETLOITER_CALENDAR_H

#include <queue>
#include <vector>
#include <chrono>
#include <optional>
#include "../Packet.hpp"

namespace netloiter_generated {
    struct Calendar {
        using Delay = std::chrono::milliseconds;
        using Clock = std::chrono::steady_clock;

        void schedule(Packet&& packet, Delay delay) noexcept;

        template<typename Fn>
        inline void process_ready(Clock::time_point now, Fn&& process_fn) noexcept {
            while (!_queue.empty() && _queue.top().time <= now) {
                {# const_cast to remove const returned from top() to be able to move the packet #}
                process_fn(std::move(const_cast<CalendarItem&>(_queue.top()).packet));
                _queue.pop();
            }
        }

        std::optional<Clock::time_point> next_time(void) const noexcept;

        private:
            struct CalendarItem {
                Clock::time_point time;
                Packet packet;
                size_t order;
                bool operator>(const CalendarItem& other) const noexcept { 
                    return (time > other.time) || (time == other.time && order > other.order);
                }
            };

            size_t _counter = 0;

            std::priority_queue<CalendarItem, std::vector<CalendarItem>, std::greater<CalendarItem>> _queue;
    };
}

#endif
