#include "Calendar.hpp"

namespace eliot_generated {
    void Calendar::schedule(Packet&& packet, Delay delay) noexcept {
        Clock::time_point time = Clock::now() + delay;
        _queue.emplace(CalendarItem{ time, std::move(packet), _counter++ });
    }

    std::optional<Calendar::Clock::time_point> Calendar::next_time() const noexcept {
        if (_queue.empty())
            return std::nullopt;
        return _queue.top().time;
    }
}
