#include "Calendar.hpp"

namespace netloiter_generated {
    void Calendar::schedule(Packet&& packet, Delay delay) noexcept {
        Clock::time_point time = Clock::now() + delay;
        _queue.emplace(CalendarItem{ time, std::move(packet), _counter++ });
    }

    std::vector<Packet> Calendar::get_ready(Clock::time_point now) noexcept {
        std::vector<Packet> ready;

        while (!_queue.empty() && _queue.top().time <= now) {
            {# const_cast to remove const returned from top() to be able to move the packet #}
            ready.push_back(std::move(const_cast<CalendarItem&>(_queue.top()).packet));
            _queue.pop();
        }

        return ready;
    }

    std::optional<Calendar::Clock::time_point> Calendar::next_time() const noexcept {
        if (_queue.empty())
            return std::nullopt;
        return _queue.top().time;
    }
}
