__pycache__/
*venv*/
.mypy_cache/
*.egg-info

# CMake build
/build/

# Default generator output
/generated/

# VSCode setting
.vscode/

# Editor files
.DS_Store

# Executable
eliot-run

#tests
/tests/output
*.pytest_cache
/tests_old
/profiling_output
