__pycache__/
*venv/
.mypy_cache/

# CMake build
/build/

# Default generator output
/generated/

# VSCode setting
.vscode/

# Test files
*.yaml

# Test packets config
/tests/packets/packets.json

# Editor files
.DS_Store

# Executable
eliot
