#ifndef {{ guard.hpp_define() }}
#define {{ guard.hpp_define() }}

#include "../Packet.hpp"
{% if not guard.not_generator_t() or not guard.not_generator_f() %}
#include "../static/interfaces/GeneratorInt.hpp"
{% endif %}
{% if not guard.not_generator_t() %}
#include "../generators/{{ guard.t.cpp_type() }}.hpp"
{% endif %}
{% if not guard.not_generator_f() %}
#include "../generators/{{ guard.f.cpp_type() }}.hpp"
{% endif %}

namespace eliot_generated {
    struct {{ guard.cpp_type() }} {
        inline bool fulfilled(const Packet* packet) noexcept {
            if (++_counter >= _threshold) {
                _counter = 0;
                _state = !_state;
                {% if guard.not_generator_t() and guard.not_generator_f() %}
                _threshold = _state ? {{ guard.t }} : {{ guard.f }};
                {% elif guard.not_generator_t() %}
                _threshold =  _state ? {{ guard.t }} : generate{{ guard.f.cpp_call() }}); 
                {% elif guard.not_generator_f() %}
                _threshold = _state ? generate{{ guard.t.cpp_call() }}) : {{ guard.f }}; 
                {% else %}
                _threshold = _state ? generate{{ guard.t.cpp_call() }}) : generate{{ guard.f.cpp_call() }});
                {% endif %}
            }
            return _state;
        }

        private:
            size_t _counter = 0;
            bool _state = true;
            {% if guard.not_generator_t() %}
            size_t _threshold = {{ guard.t }};
            {% else %}
            size_t _threshold = {{ guard.t.value() }};
            {% endif %}
            {% if not guard.not_generator_t() and guard.t.is_state() %}
            {{ guard.t.cpp_type() }} {{ guard.t.cpp_name() }};
            {% endif %}
            {% if not guard.not_generator_f() and guard.f.is_state() %}
            {{ guard.f.cpp_type() }} {{ guard.f.cpp_name() }};
            {% endif %}
    };

}

#endif
