#ifndef {{ guard.hpp_define() }}
#define {{ guard.hpp_define() }}

#include "../Packet.hpp"

namespace eliot_generated {
    struct {{ guard.cpp_type() }} {
        inline bool fulfilled(const Packet* packet) noexcept {
            {% if guard.duration is none %}
            return ++_counter > {{ guard.after }};
            {% else %}
            return  ++_counter > {{ guard.after }} && _counter <= {{ guard.after + guard.duration }};
            {% endif %}
        }

        private:
            size_t _counter = 0;
    };

}

#endif
