#ifndef {{ guard.hpp_define() }}
#define {{ guard.hpp_define() }}

#include "../Packet.hpp"

namespace netloiter_generated {
    struct {{ guard.cpp_type() }} {
        inline bool fullfilled(const Packet& packet) noexcept {
            {% if guard.duration %}
            return  ++_counter > {{ guard.after }} && _counter < {{ guard.after + guard.duration }};
            {% else %}
            return ++_counter > {{ guard.after }};
            {% endif %}
        }

        private:
            size_t _counter = 0;
    };

}

#endif
