#ifndef {{ guard.hpp_define() }}
#define {{ guard.hpp_define() }}

#include "../Packet.hpp"
{% if not guard.not_generator_N() %}
#include "../static/interfaces/GeneratorInt.hpp"
#include "../generators/{{ guard.N.cpp_type() }}.hpp"
{% endif %}

namespace eliot_generated {
    struct {{ guard.cpp_type() }} {
        inline bool fulfilled(const Packet* packet) noexcept {
            if (++_counter >= _N) {
                _counter = 0;
                {% if not guard.not_generator_N() %}
                _N = generate{{ guard.N.cpp_call() }});
                {% endif %}
                return true;
            }
            return false;
        }

        private:
            size_t _counter = 0;
            {% if not guard.not_generator_N() %}
            size_t _N = {{ guard.N.value() }};
            {% else %}
            static constexpr size_t _N = {{ guard.N }};
            {% endif %}
            {% if not guard.not_generator_N() and guard.N.is_state() %}
            {{ guard.N.cpp_type() }} {{ guard.N.cpp_name() }};
            {% endif %}
    };

}

#endif
