#ifndef {{ guard.hpp_define() }}
#define {{ guard.hpp_define() }}

#include "../Packet.hpp"

namespace eliot_generated {
    struct {{ guard.cpp_type() }} {
        static inline bool fulfilled(const Packet *packet) noexcept {
            const std::vector<uint8_t>& p = packet->payload();
            size_t size = packet->size();

            int offset = packet->l4_offset();
            if (offset < 0 || size < offset + 4)
                return false;

            {% if guard.src is not none %}
            uint16_t src_port = (uint16_t(p[offset]) << 8) | p[offset + 1];
            if (src_port != {{ guard.src }})
                return false;
            {% endif %}
            {% if guard.dst is not none %}
            uint16_t dst_port = (uint16_t(p[offset + 2]) << 8) | p[offset + 3];
            if (dst_port != {{ guard.dst }})
                return false;
            {% endif %}

            return true;
        }
    };
}

#endif
