#ifndef {{ guard.hpp_define() }}
#define {{ guard.hpp_define() }}

#include "../Packet.hpp"
#include "../Time.hpp"

namespace eliot_generated {
    struct {{ guard.cpp_type() }} {

        inline bool fulfilled(const Packet* packet) noexcept {
            {% if not guard.instant %}
            static const uint64_t start = read_clock_ms();
            {% endif %}
            uint64_t elapsed = get_global_time() - start;
            {% if guard.duration is none %}
            return elapsed >= {{ guard.after }};
            {% else %}
            return  elapsed >= {{ guard.after }} && elapsed < {{ guard.after + guard.duration }};
            {% endif %}
        }

        private:
            {% if guard.instant %}
            const uint64_t start = read_clock_ms();
            {% endif %}
    };

}

#endif
