#ifndef {{ guard.hpp_define() }}
#define {{ guard.hpp_define() }}

#include "../Packet.hpp"
#include "../Time.hpp"

namespace eliot_generated {
    struct {{ guard.cpp_type() }} {
        inline bool fullfilled(const Packet* packet) noexcept {
            {% if not guard.instant %}
            static uint64_t last = read_clock_ms();
            {% endif %}
            uint64_t now = get_global_time();
            uint64_t elapsed = now - last;
            if (elapsed >= _get_threshold()) {
                _state = !_state;
                last = now;
            }
            return _state;
        }

        private:
            static constexpr uint64_t _t = {{ guard.t }};
            static constexpr uint64_t _f = {{ guard.f }};
            bool _state = true;
            {% if guard.instant %}
            uint64_t last = read_clock_ms();
            {% endif %}

            inline uint64_t _get_threshold() const noexcept { return _state ? _t : _f; }
    };

}

#endif
