#ifndef {{ guard.hpp_define() }}
#define {{ guard.hpp_define() }}

#include "../Packet.hpp"
#include <chrono>

namespace eliot_generated {
    struct {{ guard.cpp_type() }} {
        using Clock = std::chrono::steady_clock;
        using Ms = std::chrono::milliseconds;

        inline bool fullfilled(const Packet& packet) noexcept {
            {% if not guard.instant %}
            static Clock::time_point last = Clock::now();
            {% endif %}
            Clock::time_point now = Clock::now();
            auto elapsed = std::chrono::duration_cast<Ms>(now - last);
            if (elapsed >= get_threshold()) {
                _state = !_state;
                last = now;
            }
            return _state;
        }

        private:
            static constexpr Ms _t{ {{ guard.t }} };
            static constexpr Ms _f{ {{ guard.f }} };
            bool _state = true;
            {% if guard.instant %}
            Clock::time_point last = Clock::now();
            {% endif %}

            inline Ms get_threshold() const noexcept { return _state ? _t : _f; }
    };

}

#endif
