#ifndef {{ action.hpp_define() }}
#define {{ action.hpp_define() }}

#include "../Packet.hpp"
#include "../static/calendar/Calendar.hpp"
{% if not action.not_generator_n() %}
#include "../static/interfaces/GeneratorInt.hpp"
#include "../generators/{{ guard.n.cpp_type() }}.hpp"
{% endif %}

namespace eliot_generated {
    struct {{ action.cpp_type() }} {
        explicit {{ action.cpp_type() }}(Calendar& calendar) : _calendar(calendar) {}

        inline void execute(Packet* packet) noexcept {
            {% if action.not_generator_n() %}
            _calendar.schedule(packet, {{ action.n }});
            {% else %}
            _calendar.schedule(packet, generate{{ action.n.cpp_call() }}));
            {% endif %}
        }

        private:
            Calendar& _calendar;
            {% if not action.not_generator_n() and action.n.is_state() %}
            static {{ action.t.cpp_type() }} {{ action.t.cpp_name() }};
            {% endif %}
    };
}

#endif
