#ifndef {{ action.hpp_define() }}
#define {{ action.hpp_define() }}

#include <algorithm>
{% if action.strategy == "random" %}
#include "../static/xoroshiro128plus.hpp"
{% endif %}
{% if not action.not_generator_n() %}
#include "../static/interfaces/GeneratorInt.hpp"
#include "../generators/{{ action.n.cpp_type() }}.hpp"
{% endif %}
#include "../Packet.hpp"
#include "../static/calendar/Calendar.hpp"

namespace eliot_generated {
    struct {{ action.cpp_type() }} {
        explicit {{ action.cpp_type() }}(Calendar& calendar) : _calendar(calendar) {}

        inline void execute(Packet* packet) noexcept {
            _buffer[_buffer_index++] = packet;

            if (_buffer_index < _size)
                return;

            {% if action.strategy == "random" %}
            for (int i = _size - 1; i > 0; i--) {
                int j = _rng.next_range(i + 1);
                std::swap(_buffer[i], _buffer[j]);
            }
            {% else %}
            std::reverse(_buffer, _buffer + _size);
            {% endif %}

            for (int i = 0; i < _size; i++)
                _calendar.schedule(_buffer[i], 0);

            {% if not action.not_generator_n() %}
            _size = generate{{ action.n.cpp_call() }});
            {% endif %}
            _buffer_index = 0;
        }

        ~{{ action.cpp_type() }}() {
            for (int i = 0; i < _buffer_index; i++)
                delete _buffer[i];
        }

        private:
            Calendar& _calendar;
            {% if action.not_generator_n() %}
            static constexpr int _size = {{ action.n }};
            static constexpr int MAX_BUFFER_SIZE = {{ action.n }};
            {% else %}
            static constexpr int MAX_BUFFER_SIZE = 2048;
            int _size = {{ action.n.value() }};
            {% if action.n.is_state() %}
            inline static {{ action.n.cpp_type() }} {{ action.n.cpp_name() }};
            {% endif %}
            {% endif %}
            Packet* _buffer[MAX_BUFFER_SIZE];
            int _buffer_index = 0;
            {% if action.strategy == "random" %}
            inline static xoroshiro128plus _rng{ {{ action.seed() }}, {{ action.seed() }} };
            {% endif %}
    };
}

#endif
