#ifndef {{ action.hpp_define() }}
#define {{ action.hpp_define() }}

#include <vector>
#include <algorithm>
{% if action.strategy == "random" %}
#include "../generators/xoroshiro128plus.hpp"
{% endif %}
#include "../Packet.hpp"
#include "../calendar/Calendar.hpp"

namespace eliot_generated {
    struct {{ action.cpp_type() }} {
        explicit {{ action.cpp_type() }}(Calendar& calendar) : _calendar(calendar) { 
            _buffer.reserve(_n);
        }

        inline void execute(Packet* packet) noexcept {
            _buffer.push_back(packet);

            if (_buffer.size() == _n) {
                {% if action.strategy == "random" %}
                for (size_t i = _buffer.size() - 1; i > 0; --i) {
                    size_t j = _rng.next_range(i + 1);
                    std::swap(_buffer[i], _buffer[j]);
                }
                {% else %}
                std::reverse(_buffer.begin(), _buffer.end());
                {% endif %}

                for (Packet* packet : _buffer) {
                    _calendar.schedule(packet, 0);
                }

                _buffer.clear();
            }
        }

        ~{{ action.cpp_type() }}() {
            for (Packet *packet : _buffer)
                delete packet;
        }

        private:
            Calendar& _calendar;
            std::vector<Packet*> _buffer;
            static constexpr int _n = {{ action.n }};
            {% if action.strategy == "random" %}
            inline static xoroshiro128plus _rng{ {{ action.seed() }}, {{ action.seed() }} };
            {% endif %}
    };
}

#endif
