#include "Processor.hpp"
#include <csignal>
#include <iostream>
#include <atomic>

using namespace eliot_generated;

static volatile sig_atomic_t stop_flag = 0;
void handle_sigint(int) { stop_flag = 1; }

int main() {
    std::signal(SIGINT, handle_sigint);
    try {
        {{ api.type() }} q;
        Processor processor = Processor();
        PacketResult result;
        {% if require_calendar %}
        bool calendar_empty = true;
        {% endif %}
        std::cout << "Eliot running...\n";
        while (!stop_flag) {
            {% if require_time %}
            time_updated = false;
            {% endif %}

            if (auto{{ '' if api.returns_optional() else '*' }} maybe_packet = q{{ api.get_packet() }}) {
                auto packet = new Packet(std::move(*maybe_packet));
                processor.process_packet(packet);

                if (packet->result == PacketResult::Drop) {
                    q{{ api.drop_packet("packet->move_packet()") }};
                    delete packet;
                } else if (packet->result == PacketResult::Finish) {
                    q{{ api.accept_packet("packet->move_packet()") }};
                    delete packet;
                }
                {% if require_calendar %}
                else {
                    calendar_empty = false;
                }   
                {% endif %}
            }
            {% if require_calendar %}
            if (!calendar_empty) {
                if (auto packet = processor.calendar.get_ready()) {
                    processor.process_packet(packet);
                    if (packet->result == PacketResult::Drop) {
                        q{{ api.drop_packet("packet->move_packet()") }};
                        delete packet;
                    } else if (packet->result == PacketResult::Finish) {
                        q{{ api.accept_packet("packet->move_packet()") }};
                        delete packet;
                    }
                } else if (processor.calendar.empty()) {
                    calendar_empty = true;
                }
            }
            {% endif %}
        }

        std::cout << "\nExiting\n";
        return EXIT_SUCCESS;
    } catch (const std::runtime_error& e) {
        std::cerr << e.what() << std::endl;
        return EXIT_FAILURE;
    }
}
