#ifndef ELIOT_FAULT_MODEL_H
#define ELIOT_FAULT_MODEL_H

#include "Packet.hpp"
#include "static/interfaces/State.hpp"
#include "static/interfaces/Condition.hpp"
#include "static/interfaces/Action.hpp"
{% if require_calendar %}
#include "static/calendar/Calendar.hpp"
{% endif %}
{% for state in states %}
#include "states/{{ state.cpp_type() }}.hpp"
{% endfor %}
{% for condition in conditions %}
#include "conditions/{{ condition.cpp_type() }}.hpp"
{% endfor %}
{% for action in actions %}
#include "actions/{{ action.cpp_type() }}.hpp"
{% endfor %}

namespace eliot_generated {
    struct FaultModel {

        void evaluate(Packet* packet) noexcept;
        {% if require_calendar %}

        inline Packet* get_scheduled() noexcept {
            return _calendar.get_ready();
        }

        inline bool calendar_empty() const noexcept {
            return _calendar.empty();
        }
        {% endif %}

        private: 
            {% if require_calendar %}
            Calendar _calendar;
            {% endif %}
{% for state in states %}
            {{ state.cpp_type() }} {{ state.cpp_name() }};
{% endfor %}
{% for condition in conditions %}
            {% if condition.is_state() %}
            {{ condition.cpp_type() }} {{ condition.cpp_name() }}{{ condition.init() }};
            {% endif %}
{% endfor %}
{% for action in actions %}
            {% if action.is_state() %}
            {{ action.cpp_type() }} {{ action.cpp_name() }}{{ action.init() }};
            {% endif %}
{% endfor %}
    };

}

#endif
