#include "FaultModel.hpp"

namespace eliot_generated {
    void FaultModel::evaluate(Packet* packet) noexcept {
        while (packet->result == PacketResult::Processing) {
            switch (packet->state) {
{% for node in cases %}
                case {{ node.id }}:
                    {% if node.type == "GuardCase" %}
                    packet->state = {{ '!' if node.guard.invert else '' }}evaluate_guard{{ node.guard.cpp_call() }}packet) ? {{ node.if_true.id }} : {{ node.if_false.id }};
                    continue;
                    {% elif node.type == "StateCase" %}
                    packet->state = get_next_state({{ node.state_node.cpp_name() }});
                    continue;
                    {% else %}
                    {% if not node.action.is_final() %}
                    packet->state = {{ node.next.id }};
                    {% endif %}
                    execute_action{{ node.action.cpp_call() }}packet);
                    continue;
                    {% endif %}
{% endfor %}
                default:
                    packet->result = PacketResult::Finish;
            }
        }
    }

}
