#ifndef ELIOT_PACKET_H
#define ELIOT_PACKET_H

#include {{ api.include() }}
#include <vector>

namespace eliot_generated {
    enum class PacketResult { Drop, Finish, Calendar };

    struct Packet {
        explicit inline Packet({{ api.packet_type() }}&& packet) noexcept 
            : _packet(std::move(packet)) {}

        inline {{ api.packet_type() }}&& move_packet() noexcept { return std::move(_packet); }
        
        inline const std::vector<uint8_t>& payload() const noexcept { return _packet.{{ api.packet_payload() }}; }

        inline const size_t size() const noexcept { return payload().size(); }

        inline const int protocol() const noexcept { 
            if (_protocol == -1)
                _protocol = _get_protocol();
            return _protocol;
        }
        
        int state = 0;

        private:
            {{ api.packet_type() }} _packet;

            mutable int _protocol = -1;

            inline const int _version() const noexcept { return size() == 0 ? -1 : (payload()[0]) >> 4; }

            inline const int _get_protocol() const noexcept {
                int version = _version();
                if (version == -1)
                    return -1;

                const std::vector<uint8_t>& p = payload();

                if (version == 4) {
                    // IPv4 header size
                    if (size() < 20)
                        return -1;

                    // Protocol field
                    return p[9];
                }

                if (version == 6) {
                    // IPv6 header size
                    if (size() < 40)
                        return -1;
                    
                    // Next Header field
                    return p[6];
                }

                // Invalid protocol version
                return -1;
            }
    };

}

#endif
