#ifndef ELIOT_ACTION_H
#define ELIOT_ACTION_H

#include "../Packet.hpp"
#include <concepts>

namespace eliot_generated {
    template<typename T>
    concept ActionConcept = 
        requires(T action, Packet& packet) {
            { action.execute(packet) };
        } || 
        requires(Packet& packet) {
            { T::execute(packet) };
        };

    template<ActionConcept A>
    inline void execute_action(A& action, Packet& packet) noexcept {
        action.execute(packet);
    }

    template<ActionConcept A>
    inline void execute_action(Packet& packet) noexcept {
        A::execute(packet);
    }
}

#endif
