#ifndef NETLOITER_GUARD_H
#define NETLOITER_GUARD_H

#include "../Packet.hpp"
#include <concepts>

namespace netloiter_generated {
    template<typename T>
    concept GuardConcept = 
        requires(T guard, const Packet& packet) {
            { guard.fullfilled(packet) } -> std::convertible_to<bool>;
        } || 
        requires(const Packet& packet) {
            { T::fullfilled(packet) } -> std::convertible_to<bool>;
        };

    template<GuardConcept G>
    inline bool evaluate_guard(G& guard, const Packet& packet) noexcept {
        return guard.fullfilled(packet);
    }

    template<GuardConcept G>
    inline bool evaluate_guard(const Packet& packet) noexcept {
        return G::fullfilled(packet);
    }
}

#endif
