#ifndef {{ generator.hpp_define() }}
#define {{ generator.hpp_define() }}

#include "../static/xoroshiro128plus.hpp"

namespace eliot_generated {
    struct {{ generator.cpp_type() }} {
        static {{ 'constexpr ' if generator.once else '' }}inline int get() noexcept {
            {% if generator.once %}
            return {{ generator.value() }};
            {% else %}
            return _generate();
            {% endif %}
        }

        {% if not generator.once %}
        private:
            inline static xoroshiro128plus _rng{ {{ generator.seed() }}, {{ generator.seed() }} };
            inline static int _generate() noexcept {
                uint64_t value = _rng.next_range(uint64_t({{ generator.max }} - {{ generator.min }} + 1));
                return static_cast<int>(value + {{ generator.min }});
            }
        {% endif %}
    };
}

#endif
