#ifndef {{ generator.hpp_define() }}
#define {{ generator.hpp_define() }}

#include "../static/xoroshiro128plus.hpp"

namespace eliot_generated {
    struct {{ generator.cpp_type() }} {
        static {{ 'constexpr ' if generator.once else '' }}inline float get() noexcept {
            {% if generator.once %}
            return {{ generator.value() }};
            {% else %}
            return _generate();
            {% endif %}
        }

        {% if not generator.once %}
        private:
            inline static xoroshiro128plus _rng{ {{ generator.seed() }}, {{ generator.seed() }} };
            static constexpr double _inv = 1.0 / double(UINT64_MAX);
            inline static float _generate() noexcept {
                double f = double(_rng.next()) * _inv;
                return static_cast<float>( {{ generator.min }} + f * {{ generator.max - generator.min }} );
            }
        {% endif %}
    };
}

#endif
